.Test {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    font-family: "Comic Sans MS", "Comic Sans";
}

h1 {
    height: 100vh;
    font-size: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Comic Sans Ms", "Comic Sans";
}